POSTGRES_DB=agricul
POSTGRES_USER=agricul
POSTGRES_PASSWORD=agricul

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/agricul
SPRING_DATASOURCE_USERNAME=agricul
SPRING_DATASOURCE_PASSWORD=agricul
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
FIREBASE_ENABLED=false

NEXT_PUBLIC_API_URL=http://localhost:8000
